.container {
  margin: 0 auto;
  background-color: var(--bg-card);
  max-width: var(--max-width);
  height: 100vh;
  padding: 0 1rem;
}

.header {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.stats {
  display: block;
  height: 60vh;

  @media (width > 768px) {
    display: flex;
  }
}

.todo {
  text-align: center;
  flex: 1;

  @media (width > 768px) {
    border-right: 1px solid #454242;
  }
}

.titleTodo {
  font-size: 2rem;
}

.completedContainer {
  text-align: center;
  flex: 1;
}

.titleCompleted {
  font-size: 2rem;
  opacity: 0.5;
  margin-top: 2rem;

  @media (width > 768px) {
    margin: 0;
  }
}
