.addTodo {
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.title {
  display: flex;
  width: max-content;
  align-items: flex-end;
  gap: 1rem;
  color: var(--accent-blue);
  cursor: pointer;
  font-size: 1.6rem;
}

.descriptionInput {
  min-height: 50rem;
  padding: 1rem;
  border-radius: 1rem;
}

.button {
  justify-content: center;
}
