.itemContainer {
  list-style-type: none;
  cursor: pointer;
}

.todoItem {
  display: flex;
  align-items: center;
  line-height: 2rem;
  gap: 1rem;
  padding: 2rem 0;
}

.TodoTitle {
  margin: 0;
  width: 100%;
  text-align: left;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.date {
  text-align: center;
  padding-bottom: 2rem;

  h1,
  h4 {
    margin: 0;
  }
}
