.dialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
}

.dialog {
  background: #222;
  padding: 2rem 2.5rem;
  color: #fff;
  min-width: 32rem;
  max-width: 90vw;
  border: none;
  margin: 0;
  position: relative;
  z-index: 10000;
}

.center {
  border-radius: 1.2rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  position: absolute;
}

.top {
  align-self: flex-start;
  justify-self: center;
}

.bottom {
  align-self: flex-end;
  justify-self: center;
}

.left {
  align-self: center;
  justify-self: flex-start;
}

.right {
  border-radius: 1.2rem 0 0 1.2rem;
  align-self: center;
  justify-self: flex-end;
  position: absolute;
  height: 100vh;
}

.dialogTitle {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.dialogDescription {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: #bbb;
}

.dialogContent {
  margin-top: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.closeButton:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
