/* Button Styles */
.button {
  display: flex;
  background: var(--bt-primary);
  font-family: var(--font-poppins);
  border-radius: 1rem;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &.active {
    background-color: var(--accent-blue);
  }

  &.small {
    height: 3.2rem;
    font-size: 14px;
    gap: 0.4rem;
    padding: 0 1.2rem;
  }

  &.medium {
    height: 4.4rem;
    font-size: 1.6rem;
    gap: 0.8rem;
    padding: 0 2.4rem;
  }

  &.large {
    height: 5.2rem;
    font-size: 1.6rem;
    gap: 0.8rem;
    padding: 0 3.2rem;
  }

  &.iconOnly {
    color: #fff;
    background: rgba(59, 58, 76, 0.5);
    border: 1px solid transparent;
    transition: background 0.3s, color 0.3s, border-color 0.3s;

    &:hover,
    &.active {
      color: #f5be47;
      border-color: #f5be47;
      background: rgba(59, 58, 76, 1);
    }
  }

  & > .buttonIcon {
    width: 1.6rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.6rem;
      height: 1.2rem;
    }
  }

  & > .buttonText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px 0;
  user-select: none;
}

/* Input Styles */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputContainer {
  background: rgba(59, 58, 76, 0.8);
  height: 3.2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.focused {
  & > .inputIcon {
    color: #4a90e2;
  }
}

.input {
  width: 100%;
  padding: 0 5px;
  height: 3.2rem;
  transition: color 0.3s ease;
  color: #fff;
  font-family: var(--font-poppins);
  border-radius: 0 1rem 1rem 0;
  border: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.inputLabel {
  color: #afaebf;
  font-family: var(--font-poppins);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 10px;
}

.inputIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 4rem;
  color: #fff;
  transition: color 0.3s ease;

  svg {
    width: 50%;
    height: 50%;
  }
}

.error {
  color: #ff9900b7;
  font-family: var(--font-poppins);
  font-size: 1.3rem;
  line-height: 1.3rem;
  height: 1.3rem;
  text-align: end;
}

/* Input type Checkbox Styles */
.checkbox {
  width: 2rem;
  height: 2rem;
}
.checkboxContainer {
  background-color: transparent;
}
